<title> Stupid Coaching </title>

<h1> STUPID COACHING </h1>

<h2>
  <%= @question %>
  <p> - you </p>
</h2>

<h3>
  <%= @answer %>
  <p> - coach </p>
</h3>

<form action="/ask">
  <input type="submit" value="Ask another question">
</form>
